<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button routerLink="/"><h1>FamilyChest</h1></a>
    <span class="fill-remaining-space"></span>
    <div id="extended-menu">
      <ng-content></ng-content>
    </div>
    <div id="doctor-menu">

      <button class="menu-btn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button class="menu-btn" mat-menu-item *ngIf="currentUser" [matMenuTriggerFor]="familyMenu"
                aria-label="Menu Family">
          <mat-icon>supervised_user_circle</mat-icon>
          Family
        </button>

        <button class="menu-btn" mat-menu-item *ngIf="currentUser" [matMenuTriggerFor]="financeMenu"
                aria-label="Menu Finance">
          <mat-icon>attach_money</mat-icon>
          Finance
        </button>

        <button class="menu-btn" mat-menu-item *ngIf="currentUser" [matMenuTriggerFor]="forumMenu"
                aria-label="Menu Forum">
          <mat-icon>forum</mat-icon>
          Forum
        </button>

        <div class="menu-btn" mat-menu-item *ngIf="!currentUser; else logoutButton" routerLink="/login">
          <mat-icon>exit_to_app</mat-icon>
          Login
        </div>

        <ng-template #logoutButton>
          <button class="menu-btn" mat-menu-item (click)="logout.emit()">
            <mat-icon>arrow_back</mat-icon>
            Logout
          </button>
        </ng-template>
      </mat-menu>

      <mat-menu #familyMenu="matMenu">
        <button class="menu-btn" mat-menu-item
                *ngIf="currentUser.role.includes('PARENT') || currentUser.role.includes('ADMIN')"
                routerLink="/family">
          <mat-icon>supervised_user_circle</mat-icon>
          Create Family
        </button>

        <button class="menu-btn" mat-menu-item
                *ngIf="currentUser.role.includes('PARENT') || currentUser.role.includes('ADMIN')"
                routerLink="/family/create-child-account">
          <mat-icon>face</mat-icon>
          Create Child Account
        </button>

        <button class="menu-btn" mat-menu-item
                *ngIf="currentUser.role.includes('PARENT') || currentUser.role.includes('ADMIN')"
                routerLink="/family/add-member">
          <mat-icon>person_add</mat-icon>
          Add Members
        </button>

        <button class="menu-btn" mat-menu-item routerLink="/family/members">
          <mat-icon>supervised_user_circle</mat-icon>
          Family Members
        </button>

        <button class="menu-btn" mat-menu-item
                routerLink="/family/child-requests">
          <mat-icon>dashboard</mat-icon>
          Child Requests Dashboard
        </button>
        <button class="menu-btn" mat-menu-item
                *ngIf="currentUser.role.includes('CHILD') || currentUser.role.includes('ADMIN')"
                routerLink="/family/child-requests/create">
          <mat-icon>attach_money</mat-icon>
          Request Money
        </button>
      </mat-menu>

      <mat-menu #financeMenu="matMenu">
        <button class="menu-btn" mat-menu-item
                routerLink="/finance/family-members">
          <mat-icon>credit_card</mat-icon>
          Family Finances
        </button>
        <button class="menu-btn" mat-menu-item
                routerLink="/finance/personal">
          <mat-icon>attach_money</mat-icon>
          Personal Finances
        </button>
        <button class="menu-btn" mat-menu-item
                routerLink="/finance/statistics">
          <mat-icon>assessment</mat-icon>
          Financial Statistics
        </button>
        <button class="menu-btn" mat-menu-item
                routerLink="/finance/create">
          <mat-icon>create</mat-icon>
          Create Statement
        </button>
      </mat-menu>

      <mat-menu #forumMenu="matMenu">
        <button class="menu-btn" mat-menu-item routerLink="/forum">
          <mat-icon>local_library</mat-icon>
          See Posts
        </button>
        <button class="menu-btn" mat-menu-item routerLink="/forum/resources">
          <mat-icon>library_books</mat-icon>
          See Resources
        </button>
        <button class="menu-btn" mat-menu-item routerLink="/forum/create">
          <mat-icon>post_add</mat-icon>
          Create a Post
        </button>
        <button class="menu-btn" mat-menu-item routerLink="/forum/resources/create">
          <mat-icon>add_circle_outline</mat-icon>
          Add Resource
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
