.no-border-radius {
  border-radius: 0;
}

.message_container {
  margin: auto;
}

.message_text {
  color: white;
}

.message_card {
  text-align: center;
  background-color: #3f51b5;
  margin: auto;
  width: 50%;
}
