<div class="container">
  <div class="menu-container">
    <app-menu-handler>
      <button mat-flat-button color="accent" routerLink="/forum/create">Create a Post</button>
    </app-menu-handler>
    <div class="w-100"
         *ngIf="!(isLoading$ | async) && !(isForumStateLoading$ | async); else loadingDisplay">
      <div>
        <app-forum-post-table [data]="forumPosts$ | async"></app-forum-post-table>
      </div>
    </div>
    <ng-template #loadingDisplay>
      <div class="w-100 centered pt-3">
        <app-loading-display></app-loading-display>
      </div>
    </ng-template>
  </div>
</div>
