<mat-card class="no-border-radius" *ngIf="users && families">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="formSubmit.emit()" class="form-container w-100">

      <mat-form-field class="container-field centered">
        <input type="text" matInput formControlName="selectedUser" [matAutocomplete]="autoUsers"
               placeholder="Select an user">
        <mat-autocomplete #autoUsers="matAutocomplete">
          <mat-option *ngFor="let user of users" [value]="user.id">{{user.id}}, {{user.name}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>


      <mat-form-field class="container-field centered">
        <input type="text" matInput formControlName="selectedFamily" [matAutocomplete]="autoFamilies"
               placeholder="Select a family">
        <mat-autocomplete #autoFamilies="matAutocomplete">
          <mat-option *ngFor="let family of families" [value]="family.id">{{family.id}}, {{family.name}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="container-field centered">
        <input type="text" matInput formControlName="selectedRole" [matAutocomplete]="autoRoles"
               placeholder="Select a role">
      </mat-form-field>
      <mat-autocomplete #autoRoles="matAutocomplete">
        <mat-option *ngFor="let role of familyRoles" [value]="role">{{role}}</mat-option>
      </mat-autocomplete>

      <div class="container-field centered">
        <button class="w-100" color="accent" id="submitButton" mat-raised-button
                type="submit"
                [disabled]="!form.valid">
          Add Member
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
