<div class="container">
  <div class="menu-container">
    <app-menu-handler>
    </app-menu-handler>
    <div class="w-100"
         *ngIf="!(isLoading$ | async) && !(isForumStateLoading$ | async); else loadingDisplay">
      <div>
        <app-create-forum-answer-form [errorMessage]="errorMessage$| async" (formSubmit)="onCreate()"
                                      [form]="form"></app-create-forum-answer-form>
      </div>
    </div>
    <ng-template #loadingDisplay>
      <div class="w-100 centered pt-3">
        <app-loading-display></app-loading-display>
      </div>
    </ng-template>
  </div>
</div>
